<nav class="bg-sky-900 text-white shadow-md">
  <div class="max-w-5xl mx-auto flex items-center justify-between p-4">
    <h1 class="text-lg font-bold tracking-wide">R312 TP2 - Penguins</h1>
    <ul class="flex space-x-6">
      <li>
        <a href="/" class="hover:text-sky-300 transition">Home</a>
      </li>
      <li>
        <a href="/species/Adelie" class="hover:text-sky-300 transition"
          >Adelie</a
        >
      </li>
      <li>
        <a href="/species/Chinstrap" class="hover:text-sky-300 transition"
          >Chinstrap</a
        >
      </li>
      <li>
        <a href="/species/Gentoo" class="hover:text-sky-300 transition"
          >Gentoo</a
        >
      </li>
    </ul>
  </div>
</nav>
